body {
	margin: 0 auto;
	font-family: sans-serif, verdana;
}

header {
	padding: 1% 0;
    width: 100%;
    background: #14232D;
    color: #FFF;
    text-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    clear: both;
}

h1 {
	display: inline;
    font-weight: bold;
    font-size: 3em;
	margin-left: 10%;
} 

img {
	height: 10em;
	width: 10em;
	
}

button {
	width: 200px;
	height: 200px;
	margin: 10px;
	font-size: 50px;
	font-weight: bold;
}

#buttonArea {
	max-width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}

#answerKey {
	display: inline;
	margin-left: 15%;
	margin-top: 10px;
	max-width: 30%;
	float: left;
}

#answerKey h4 {
	display: inline;
	font-weight: bold;
	font-size: 3em;
	vertical-align: top;
}

#buttonGrid {
	display: inline;
	max-width: 70%;
	float: right;
	margin-right: 32%;
}

#buttonGrid h2 {
	margin: 0 auto;
	text-align: center;
}

#startButton {
	margin: 0 auto;
	display: block;
	background: #5FBF6E;
}

#endButton {
	margin: 0 auto;
	display: block;
	background: #B94CD4;
}

#explanation {
	max-width: 50%;
	margin: 0 auto;
	font-size: 20px;
}

#endGame {
	max-width: 50%;
	margin: 0 auto;
	font-size: 20px;
}


